.WorkingProcess-con {
    width: 90%;
    margin: 40px auto;
    padding: 40px;
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    color: #333;
    overflow: hidden;
    transition: all 0.3s ease;
}

.WorkingProcess-con:hover {
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.2);
}

.WorkingProcess-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.WorkingProcess-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    background: linear-gradient(145deg, #f7f7f7, #ffffff);
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.WorkingProcess-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.WorkingProcess-Consultation,
.WorkingProcess-Design,
.WorkingProcess-Security,
.WorkingProcess-LaunchSupport {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    line-height: 1.7;
    max-width: 65%;
    margin-right: 20px;
    text-align: left;
}

.WorkingProcess-Consultation span,
.WorkingProcess-Design span,
.WorkingProcess-Security span,
.WorkingProcess-LaunchSupport span {
    font-weight: 700;  
    font-size: 1.25rem;  
    color: #111;  
    letter-spacing: 0.5px;  
    text-transform: uppercase; 
}


.WorkingProcess-block img {
    margin: 15px;
    width: 200px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.WorkingProcess-Consultation,
.WorkingProcess-Design,
.WorkingProcess-Security,
.WorkingProcess-LaunchSupport {
    flex: 1;
}







@media (max-width: 1024px) {
    .WorkingProcess-Consultation,
    .WorkingProcess-Design,
    .WorkingProcess-Security,
    .WorkingProcess-LaunchSupport {
        max-width: 100%;
        margin-right: 0;
        font-size: 1.1rem;
    }

    .WorkingProcess-block img {
        width: 130px;
        margin-right: 20px;
    }

    .WorkingProcess-title {
        font-size: 2.4rem;
    }
}

@media (max-width: 768px) {
    .WorkingProcess-con {
        padding: 20px;
    }

    .WorkingProcess-title {
        font-size: 1.8rem;
    }

    .WorkingProcess-Consultation,
    .WorkingProcess-Design,
    .WorkingProcess-Security,
    .WorkingProcess-LaunchSupport {
        font-size: 0.9rem;
    }

    .WorkingProcess-block img {
        width: 90px;
        margin-right: 15px;
    }
}

@media (max-width: 650px) { 
    .WorkingProcess-block {
        flex-direction: column;
    }
}




